<p>
<%= link_to "New Comment", new_post_comment_path(@post) %>
</p>

<% for comment in @comments do %>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
  <%= simple_format comment.body %>
  <hr />
<% end %>